body{
    font-family: Arial, Verdana;
    color: #ffffff;
    background-color: #000000;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
/*Color codes/hexadecimals taken from: http://web.simmons.edu/~grovesd/comm244/notes/week3/css-colors */


h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2{
    font-size: 30px;
    color: #0D0D0D;
}

p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

img{
    width: 250px;
    border: 10px dashed #ffffff;
    display: block;
    margin: 0 auto;
}

div{
    min-height: 125px;
    padding: 20px;
    border: 3px solid #ffffff;
}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red{
    background-color: #ff0000;
    margin-left: 50px;
    border-bottom: 2px solid;
    border-left: 5px solid;
    text-align: right;
}

div.blue{
    background-color: #0000ff;
    text-align: left;
    color: #C4C4C4;
    margin-right: 50px;
    border-right: 5px solid;
    border-top: 2px solid;
}
div.blue h2{
    color: #C4C4C4;
}

div.yellow{
    background-color: #ffff00;
    color: #707070;
    margin-left: 50px;
    border-bottom: 2px solid;
    border-left: 5px solid;
    text-align: right;
}

div.green{
    background-color: #008500;
    color: #000000;
    margin-right: 50px;
    border-right: 5px solid;
    border-top: 2px solid;
    text-align: left;
}
div.green p{
    color: #ffffff;
}

footer{
    background: linear-gradient(to right,
    #000000 0%, 
    #0000ff 25%, 
    #0066ff 70%,
    #000000 100%);
    border: 5px solid #ffffff;
}

footer p{
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0px;
}
